---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me"
  description="Mago - artist and software developer."
  pubDate={new Date('August 11 2025')}
  heroImage="/vague.jpg"
>
  <p>
  Hi there,
I’m Mago, a self-taught software developer and aspiring artist. Some time ago I even dabbled in hardware development, but these days most of my time goes into software (mainly working on my startup) and making art. Many would call art my hobby, but for me it’s more than that.
  </p>
  <p>
  I started working as a paid software developer at the end of summer 2013. Since then, I’ve hopped through a bunch of technologies and co-founded three startups, each with its own mix of successes and failures. Software is still my passion, and I’ll keep building things in the digital world (and sometimes posting them here).
  </p>
  <p>
  As a kid, I dreamed of doing something creative, but social pressure and stigma kept me away from things like art or playing the piano. That changed in April 2022, when I picked up drawing and painting, and it slowly became something I can’t live without. I love the process in all its forms: when it works and when it doesn’t, the ugly and the beautiful, failure and success. Whether you call it art brut, naïve art, or nothing at all, I embrace both the making and the result.
  </p>
  <p>
  This site is my place to share my passions in IT, art, and whatever else I’m into, free from the algorithms of social media.
  <p>
</Layout>
